<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.unthackathon">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/heavy_machinery_logo_transparent"
            android:label="guardNet"
            android:roundIcon="@drawable/heavy_machinery_logo_transparent"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PeopleActivity"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".CommsActivity"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MapActivity"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ChatActivity"
                  android:parentActivityName=".CommsActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>